<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        routerLink="/event/dashboard"
      >
        <i class="fas fa-user"></i>User Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/event/events">
        <i class="fa fa-calendar"></i>Events
      </a>
    </li>
    <!-- Calling SignOut() Api from AuthService -->
    <li class="nav-item">
      <a class="nav-link" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
      </a>
    </li>
  </ul>
</div>
